<section class="vh-100 ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0" >
          <div class="card mb-3" style="border-radius: 1.5rem;">
            <div class="row g-0">
              <div class="col-md-4 bg-opacity text-center text-white"
                style="border-top-left-radius: 1.5rem; border-bottom-left-radius: 1.5rem;">
                <img src="../../assets/photos/{{photo}}"
                  alt="Avatar" class="img-fluid my-5 rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" />
                <form><input type="file" (change)="onFileChange($event)"/><h6 style="font-size: 1.5rem; margin-bottom: 0;" ></h6></form>
                <i class="far fa-edit mb-2"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h2 style="font-size: 1.5rem; color: dodgerblue;">Informations personnelles</h2>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-12 mb-3">
                      <h6 style="font-size: 1rem;">Nom</h6>
                      <p class="text-muted">{{temp.nom}}</p>
                    </div>
                  
                  </div>
                  <div class="row pt-1">
                    <div class="col-12 mb-3">
                      <h6 style="font-size: 1rem;">Prénom</h6>
                      <p class="text-muted">{{temp.prenom}}</p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-12 mb-3">
                      <h6 style="font-size: 1rem;">Sexe</h6>
                      <p class="text-muted">{{temp.sexe}}</p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-12 mb-3">
                      <h6 style="font-size: 1rem;">Email</h6>
                      <p class="text-muted">{{temp.email}}</p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-12 mb-3">
                      <h6 style="font-size: 1rem;">Téléphone</h6>
                      <p class="text-muted">{{temp.phone}}</p>
                    </div>
                  </div>
                  <button class="btn btn-warning text-white" routerLink="/login">Se deconnecter <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                  </svg></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  