.gradient-custom {
    /* fallback for old browsers */
    background: #9A616D;
    
}
    .vh-100 {
        background-color: #f5f5f5;
    }
    
    
.bg-opacity{
  background-image: url('../../assets/img/img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
