<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black" style="overflow: auto; width: 50rem; height: 45rem;">
  
                  <form (ngSubmit)="submitFormAdd(modelUserToAdd)">
  
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #393f81;"><b>Inscription</b></h3>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Nom</label>
                        <input type="text" id="form2Example17" class="form-control form-control-lg" [(ngModel)]="modelUserToAdd.nom"
                        [ngModelOptions]="{standalone: true}" />
                        
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Prenom</label>
                        <input type="text" id="form2Example17" class="form-control form-control-lg" [(ngModel)]="modelUserToAdd.prenom"
                        [ngModelOptions]="{standalone: true}"/>
                        
                      </div>
                       <!--<div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Photo</label>
                        <input type="text" id="form2Example17" class="form-control form-control-lg" [(ngModel)]="modelUserToAdd.nom_photo"
                        [ngModelOptions]="{standalone: true}"/>
                        
                      </div>-->
                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Sexe</label>
                        <select id="form2Example17" class="form-select form-select-lg" [(ngModel)]="modelUserToAdd.sexe"
                        [ngModelOptions]="{standalone: true}">
                            <option value="" disabled selected>Choisissez votre sexe</option>
                            <option value="Masculin">Homme</option>
                            <option value="Féminin">Femme</option>
                        </select>
                        
                    </div>
                    
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Adresse mail</label>
                      <input type="email" id="form2Example17" class="form-control form-control-lg" [(ngModel)]="modelUserToAdd.email"
                      [ngModelOptions]="{standalone: true}"/>
                      
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example27">Mot de passe</label>
                      <input type="password" id="form2Example27" class="form-control form-control-lg" [(ngModel)]="modelUserToAdd.mdp"
                      [ngModelOptions]="{standalone: true}" />
                      
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example27">Numero de telephone</label>
                        <input type="tel" id="form2Example27" class="form-control form-control-lg" [(ngModel)]="modelUserToAdd.phone"
                        [ngModelOptions]="{standalone: true}"/>
                        
                      </div>
  
                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit" style="cursor: pointer;">S'inscrire</button>
                    </div>
  
                    <p class="mb-5 pb-lg-2" style="color: #9A616D; cursor: pointer;">Vous avez deja un compte? <b (click)='goTOregidter()' style="color: #393f81;">
                        se connecter</b></p>

                  </form>
                
                </div>
              </div>
              <div class="col-md-6 col-lg-5  d-md-block">
                <img  class="img" src="../../assets/img/signup.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 12px; margin-top: 7rem;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
