<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form (ngSubmit)="submitFormLogin(modelUserToLogin)">
  
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #393f81;"><b>Connexion</b></h3>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="form2Example17" class="form-control form-control-lg" [(ngModel)]="modelUserToLogin.mdp"
                      [ngModelOptions]="{standalone: true}"/>
                      <label class="form-label" for="form2Example17">Adresse mail</label>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" [(ngModel)]="modelUserToLogin.email"
                      [ngModelOptions]="{standalone: true}" />
                      <label class="form-label" for="form2Example27">Mot de passe</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit" >Se connecter</button>
                    </div>
  
                    <p class="small text-muted" (click)="goTOreset()" style="cursor: pointer;">Mot de passe oublie?</p>
                    <p class="mb-5 pb-lg-2" style="color: #9A616D; cursor: pointer;">Vous n'avez pas de compte? <b (click)='goTOregidter()' style="color: #393f81;">
                        <u>S'inscrire</u></b></p>

                  </form>
  
                </div>
              </div>
              <div class="col-md-6 col-lg-5 d-none d-md-block" >
                <img  class="img" src="../../assets/img/signin.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 12px; margin-top: 2.5rem;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>